python3 app.py
app.py HERE
.txt
python3 app.py
appdirs==1.4.4
astroid==2.4.2
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
distlib==0.3.1
filelock==3.0.12
Flask==2.0.1
future==0.18.2
idna==3.2
isort==5.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.4.3
lxml==4.6.3
MarkupSafe==2.0.1
mccabe==0.6.1
netmiko==3.4.0
ntc-templates==2.0.0
numpy==1.21.1
pandas==1.3.0
paramiko==2.7.2
pipenv==2020.11.15
pyang==2.4.0
pycparser==2.20
pylint==2.6.0
PyNaCl==1.4.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2021.1
PyYAML==6.0
requests==2.26.0
scp==0.13.4
six==1.15.0
tenacity==7.0.0
textfsm==1.1.0
toml==0.10.2
urllib3==1.26.6
virtualenv==20.4.7
virtualenv-clone==0.5.4
Werkzeug==2.0.1
wrapt==1.12.1
python3 app.py
app.py HERE
.txt
python3 app.py
python3 app.py
total 108
drwxrwxr-x  8 paul paul 4096 Oct 19 13:32 .
drwxrwxr-x 23 paul paul 4096 Oct 18 15:09 ..
-rw-rw-r--  1 paul paul 1496 Oct 15 21:54 administrator2-test.txt
-rw-rw-r--  1 paul paul  625 Oct 19 13:14 app.py
-rw-rw-r--  1 paul paul    6 Oct 15 17:39 branch.txt
-rw-rw-r--  1 paul paul  212 Oct 19 12:29 c-213-requirements.txt
-rw-rw-r--  1 paul paul 2286 Oct 19 12:29 c-213-test.txt
-rw-rw-r--  1 paul paul 2911 Oct 19 12:33 DTree.py
drwxrwxr-x  8 paul paul 4096 Oct 19 13:34 .git
-rw-rw-r--  1 paul paul  812 Oct 15 21:54 .gitlab-ci.yml
drwxrwxr-x  4 paul paul 4096 Oct 19 13:14 json
-rw-rw-r--  1 paul paul 2190 Oct 19 13:34 main.py
drwxrwxr-x  6 paul paul 4096 Oct 19 13:14 my_packages
drwxrwxr-x  2 paul paul 4096 Oct 19 13:14 __pycache__
-rw-rw-r--  1 paul paul   17 Oct 14 19:56 README.md
-rw-rw-r--  1 paul paul  273 Oct 15 17:39 runner-1zql5ubz-project-31-concurrent-0-test.txt
-rw-rw-r--  1 paul paul  445 Oct 14 19:56 some file.txt
-rw-rw-r--  1 paul paul  364 Oct 19 13:14 start.json
-rw-rw-r--  1 paul paul 4332 Oct 15 15:11 test.txt
drwxrwxr-x  6 paul paul 4096 Oct 19 13:32 test_venv
-rw-rw-r--  1 paul paul  238 Oct 19 13:14 ubd-220-requirements.txt
-rw-rw-r--  1 paul paul 4189 Oct 19 13:14 ubd-220-test.txt
-rw-rw-r--  1 paul paul  838 Oct 19 13:34 ub-desk-230-requirements.txt
-rw-rw-r--  1 paul paul 1890 Oct 19 13:34 ub-desk-230-test.txt
drwxrwxr-x  2 paul paul 4096 Oct 14 20:58 .vscode
/home/paul/Documents/Projects/feedback-loop
python3 app.py
total 104
drwxrwxr-x  7 paul paul 4096 Oct 19 13:34 .
drwxrwxr-x 23 paul paul 4096 Oct 18 15:09 ..
-rw-rw-r--  1 paul paul 1496 Oct 15 21:54 administrator2-test.txt
-rw-rw-r--  1 paul paul  625 Oct 19 13:14 app.py
-rw-rw-r--  1 paul paul    6 Oct 15 17:39 branch.txt
-rw-rw-r--  1 paul paul  212 Oct 19 12:29 c-213-requirements.txt
-rw-rw-r--  1 paul paul 2286 Oct 19 12:29 c-213-test.txt
-rw-rw-r--  1 paul paul 2911 Oct 19 12:33 DTree.py
drwxrwxr-x  8 paul paul 4096 Oct 19 13:35 .git
-rw-rw-r--  1 paul paul  812 Oct 15 21:54 .gitlab-ci.yml
drwxrwxr-x  4 paul paul 4096 Oct 19 13:14 json
-rw-rw-r--  1 paul paul 2193 Oct 19 13:35 main.py
drwxrwxr-x  6 paul paul 4096 Oct 19 13:14 my_packages
drwxrwxr-x  2 paul paul 4096 Oct 19 13:14 __pycache__
-rw-rw-r--  1 paul paul   17 Oct 14 19:56 README.md
-rw-rw-r--  1 paul paul  273 Oct 15 17:39 runner-1zql5ubz-project-31-concurrent-0-test.txt
-rw-rw-r--  1 paul paul  445 Oct 14 19:56 some file.txt
-rw-rw-r--  1 paul paul  364 Oct 19 13:14 start.json
-rw-rw-r--  1 paul paul 4332 Oct 15 15:11 test.txt
-rw-rw-r--  1 paul paul  238 Oct 19 13:14 ubd-220-requirements.txt
-rw-rw-r--  1 paul paul 4189 Oct 19 13:14 ubd-220-test.txt
-rw-rw-r--  1 paul paul 2311 Oct 19 13:35 ub-desk-230-requirements.txt
-rw-rw-r--  1 paul paul 1953 Oct 19 13:35 ub-desk-230-test.txt
drwxrwxr-x  2 paul paul 4096 Oct 14 20:58 .vscode
/home/paul/Documents/Projects/feedback-loop
