/p: 1: python: not found
/bin/python3: No module named pip
/bin/python3: No module named pip3
Reading package lists...
E: Could not open lock file /var/lib/apt/lists/lock - open (13: Permission denied)
E: Unable to lock directory /var/lib/apt/lists/
W: Problem unlinking the file /var/cache/apt/pkgcache.bin - RemoveCaches (13: Permission denied)
W: Problem unlinking the file /var/cache/apt/srcpkgcache.bin - RemoveCaches (13: Permission denied)
sudo: unable to read password: Input/output error
br-1aa4ecde1084: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.19.0.1  netmask 255.255.0.0  broadcast 172.19.255.255
        inet6 fe80::42:afff:fe77:eee7  prefixlen 64  scopeid 0x20<link>
        ether 02:42:af:77:ee:e7  txqueuelen 0  (Ethernet)
        RX packets 58271  bytes 19677202 (19.6 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 25117  bytes 5295282 (5.2 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 172.17.0.1  netmask 255.255.0.0  broadcast 172.17.255.255
        inet6 fe80::42:9bff:fea3:8972  prefixlen 64  scopeid 0x20<link>
        ether 02:42:9b:a3:89:72  txqueuelen 0  (Ethernet)
        RX packets 52138  bytes 3053170 (3.0 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 77263  bytes 186808124 (186.8 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

enp0s25: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 192.168.2.220  netmask 255.255.255.0  broadcast 192.168.2.255
        inet6 fe80::7b65:991a:1b8f:f88a  prefixlen 64  scopeid 0x20<link>
        ether f4:ce:46:13:3c:04  txqueuelen 1000  (Ethernet)
        RX packets 2871288  bytes 1344095297 (1.3 GB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 2859189  bytes 2528859093 (2.5 GB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0
        device interrupt 19  memory 0xf0500000-f0520000  

lo: flags=73<UP,LOOPBACK,RUNNING>  mtu 65536
        inet 127.0.0.1  netmask 255.0.0.0
        inet6 ::1  prefixlen 128  scopeid 0x10<host>
        loop  txqueuelen 1000  (Local Loopback)
        RX packets 88382  bytes 24173443 (24.1 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 88382  bytes 24173443 (24.1 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

veth8f5ba1d: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet6 fe80::10de:68ff:fecd:c3e5  prefixlen 64  scopeid 0x20<link>
        ether 12:de:68:cd:c3:e5  txqueuelen 0  (Ethernet)
        RX packets 58271  bytes 20492996 (20.4 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 25192  bytes 5302694 (5.3 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

ifconfig, as header of the file
br-1aa4ecde1084: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.19.0.1  netmask 255.255.0.0  broadcast 172.19.255.255
        inet6 fe80::42:afff:fe77:eee7  prefixlen 64  scopeid 0x20<link>
        ether 02:42:af:77:ee:e7  txqueuelen 0  (Ethernet)
        RX packets 58306  bytes 19681174 (19.6 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 25125  bytes 5295898 (5.2 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 172.17.0.1  netmask 255.255.0.0  broadcast 172.17.255.255
        inet6 fe80::42:9bff:fea3:8972  prefixlen 64  scopeid 0x20<link>
        ether 02:42:9b:a3:89:72  txqueuelen 0  (Ethernet)
        RX packets 52138  bytes 3053170 (3.0 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 77263  bytes 186808124 (186.8 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

enp0s25: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 192.168.2.220  netmask 255.255.255.0  broadcast 192.168.2.255
        inet6 fe80::7b65:991a:1b8f:f88a  prefixlen 64  scopeid 0x20<link>
        ether f4:ce:46:13:3c:04  txqueuelen 1000  (Ethernet)
        RX packets 2874700  bytes 1344470968 (1.3 GB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 2865207  bytes 2535905844 (2.5 GB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0
        device interrupt 19  memory 0xf0500000-f0520000  

lo: flags=73<UP,LOOPBACK,RUNNING>  mtu 65536
        inet 127.0.0.1  netmask 255.0.0.0
        inet6 ::1  prefixlen 128  scopeid 0x10<host>
        loop  txqueuelen 1000  (Local Loopback)
        RX packets 88488  bytes 24184459 (24.1 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 88488  bytes 24184459 (24.1 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

veth8f5ba1d: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet6 fe80::10de:68ff:fecd:c3e5  prefixlen 64  scopeid 0x20<link>
        ether 12:de:68:cd:c3:e5  txqueuelen 0  (Ethernet)
        RX packets 58306  bytes 20497458 (20.4 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 25200  bytes 5303310 (5.3 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

ifconfig, as header of the file
br-1aa4ecde1084: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.19.0.1  netmask 255.255.0.0  broadcast 172.19.255.255
        inet6 fe80::42:afff:fe77:eee7  prefixlen 64  scopeid 0x20<link>
        ether 02:42:af:77:ee:e7  txqueuelen 0  (Ethernet)
        RX packets 58652  bytes 19709188 (19.7 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 25221  bytes 5322844 (5.3 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 172.17.0.1  netmask 255.255.0.0  broadcast 172.17.255.255
        inet6 fe80::42:9bff:fea3:8972  prefixlen 64  scopeid 0x20<link>
        ether 02:42:9b:a3:89:72  txqueuelen 0  (Ethernet)
        RX packets 52138  bytes 3053170 (3.0 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 77263  bytes 186808124 (186.8 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

enp0s25: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 192.168.2.220  netmask 255.255.255.0  broadcast 192.168.2.255
        inet6 fe80::7b65:991a:1b8f:f88a  prefixlen 64  scopeid 0x20<link>
        ether f4:ce:46:13:3c:04  txqueuelen 1000  (Ethernet)
        RX packets 2891009  bytes 1345897968 (1.3 GB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 2895397  bytes 2572798122 (2.5 GB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0
        device interrupt 19  memory 0xf0500000-f0520000  

lo: flags=73<UP,LOOPBACK,RUNNING>  mtu 65536
        inet 127.0.0.1  netmask 255.0.0.0
        inet6 ::1  prefixlen 128  scopeid 0x10<host>
        loop  txqueuelen 1000  (Local Loopback)
        RX packets 88674  bytes 24201527 (24.2 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 88674  bytes 24201527 (24.2 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

veth8f5ba1d: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet6 fe80::10de:68ff:fecd:c3e5  prefixlen 64  scopeid 0x20<link>
        ether 12:de:68:cd:c3:e5  txqueuelen 0  (Ethernet)
        RX packets 58652  bytes 20530316 (20.5 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 25296  bytes 5330256 (5.3 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

ifconfig, as header of the file
app.py HERE
