ifconfig, as header of the file
app.py HERE
ifconfig, as header of the file
/bin/python3: No module named pip
ifconfig, as header of the file
Already on 'ubd-220'
From https://corp.paglipay.info/root/feedback-loop
 * branch            master     -> FETCH_HEAD
warning: fetch updated the current branch head.
fast-forwarding your working tree from
commit 2f7cd9df53833ca9ea0cb8c491f0685503214551.
error: Your local changes to the following files would be overwritten by merge:
	ubd-220-requirements.txt
	ubd-220-test.txt
Please commit your changes or stash them before you merge.
Aborting
fatal: Cannot fast-forward your working tree.
After making sure that you saved anything precious from
$ git diff 2f7cd9df53833ca9ea0cb8c491f0685503214551
output, run
$ git reset --hard
to recover.
remote: error: cannot lock ref 'refs/heads/ubd-220': is at 8000b8a66e4c6ee754e180bf0c709c196952c7ff but expected 2f7cd9df53833ca9ea0cb8c491f0685503214551        
To https://corp.paglipay.info/root/feedback-loop.git
 ! [remote rejected] ubd-220 -> ubd-220 (failed to update ref)
error: failed to push some refs to 'https://corp.paglipay.info/root/feedback-loop.git'
ifconfig, as header of the file
Already on 'ubd-220'
Already on 'ubd-220'
From https://corp.paglipay.info/root/feedback-loop
 * branch            master     -> FETCH_HEAD
From https://corp.paglipay.info/root/feedback-loop
 * branch            master     -> FETCH_HEAD
warning: fetch updated the current branch head.
fast-forwarding your working tree from
commit 8000b8a66e4c6ee754e180bf0c709c196952c7ff.
error: Your local changes to the following files would be overwritten by merge:
	ubd-220-requirements.txt
	ubd-220-test.txt
Please commit your changes or stash them before you merge.
Aborting
fatal: Cannot fast-forward your working tree.
After making sure that you saved anything precious from
$ git diff 8000b8a66e4c6ee754e180bf0c709c196952c7ff
output, run
$ git reset --hard
to recover.
remote: 
remote: To create a merge request for ubd-220, visit:        
remote:   https://corp.paglipay.info/root/feedback-loop/-/merge_requests/new?merge_request%5Bsource_branch%5D=ubd-220        
remote: 
To https://corp.paglipay.info/root/feedback-loop.git
   8000b8a..0fa5085  ubd-220 -> ubd-220
ifconfig, as header of the file
Already on 'ubd-220'
Already on 'ubd-220'
From https://corp.paglipay.info/root/feedback-loop
 * branch            master     -> FETCH_HEAD
